@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');



form {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

form h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="time"],
form input[type="url"],
form textarea,
form select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 0;
    outline: 0;
    padding: .3rem;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 10px;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

form select {

    border-radius: 2px;
}

form button {
    color: #FFF;
    background-color: #4bc970;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

form fieldset {
    border: none;
}

form legend {
    font-size: 1.4em;
    margin-bottom: 2px;
}

form label {
    display: block;
    margin-bottom: 2px;
}

form label.light {
    display: inline;
}

form .number {
    background-color: #5fcf80;
    color: #fff;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {

    form {
        max-width: 480px;
    }

}