.stateclr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin-left: 2%;
}
.stateclr, span{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

.stateclr select{
    width: 9rem; 
    background-color: aquamarine;
}
