.stateclr{
    min-width: 10rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center ;
    justify-content: center;
}
.stateclr, span{
    width: 10px; 
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

.stateclr select{
    width: 9rem; 
}
